input.ng-invalid.ng-touched {
    border-bottom: 4px solid tomato;
  }
  
  input.ng-valid.ng-touched {
    border-bottom: 2px solid lightgreen;
  }
  
  .error {
    font-size: 12px;
    color: tomato;
  }

  .card {
    background-color: rgb(237, 247, 248);
}